#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    combos {
        compatible = "zmk,combos";

        escc {
            bindings = <&kp ESC>;
            key-positions = <17 18>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
&trans     &trans  &trans  &trans     &trans     &trans          &trans       &trans         &trans     &trans   &trans      &trans
&kp ESC    &kp Q   &kp W   &kp E      &kp R      &kp T           &kp Y        &kp U          &kp I      &kp O    &kp P       &kp LEFT_BRACKET
&kp LSHFT  &kp A   &kp S   &kp D      &kp F      &kp G           &kp H        &kp J          &kp K      &kp L    &lt 3 SEMI  &kp RIGHT_BRACKET
&kp LCTRL  &kp Z   &kp X   &kp C      &kp V      &kp B           &kp N        &kp M          &kp COMMA  &kp DOT  &kp SLASH   &kp LANG_HANGEUL
                           &lt 1 TAB  &kp SPACE  &kp LEFT_GUI    &lt 2 ENTER  &kp BACKSPACE
                                      &trans     &trans          &trans
            >;

            trackball-bindings = <&tmv_coarse>;
        };

        layer_1 {
            bindings = <
&trans            &trans            &trans        &trans        &trans        &trans               &trans     &trans         &trans   &trans   &trans   &trans
&kp PERIOD        &kp LEFT_BRACKET  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp RIGHT_BRACKET    &kp RBKT   &kp F1         &kp F2   &kp F3   &kp F4   &kp DEL
&kp LEFT_CONTROL  &kp SEMI          &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp EQUAL            &kp BSLH   &kp F5         &kp F6   &kp F7   &kp F8   &kp PAGE_UP
&kp LSHFT         &kp GRAVE         &kp N7        &kp N8        &kp N9        &kp BACKSLASH        &trans     &kp F9         &kp F10  &kp F11  &kp F12  &kp PAGE_DOWN
                                                  &kp PERIOD    &kp N0        &kp MINUS            &kp ENTER  &kp BACKSPACE
                                                                &none         &none                &trans
            >;
        };

        layer_2 {
            bindings = <
&kp F12           &kp F1                &kp F2            &kp F3            &kp F4            &kp F5                      &kp F6        &kp F7         &kp F8    &kp F9     &kp F10    &kp F11
&kp LS(GRAVE)     &kp LS(LEFT_BRACKET)  &kp LS(NUMBER_1)  &kp LS(NUMBER_2)  &kp LS(NUMBER_3)  &kp LS(RIGHT_BRACKET)       &kp LS(RBKT)  &none          &trans    &none      &none      &trans
&kp LEFT_CONTROL  &kp LS(SEMICOLON)     &kp LS(NUMBER_4)  &kp LS(N5)        &kp LS(NUMBER_6)  &kp LS(EQUAL)               &kp LS(BSLH)  &kp LEFT       &kp UP    &kp DOWN   &kp RIGHT  &trans
&kp LEFT_SHIFT    &kp LS(GRAVE)         &kp LS(N7)        &kp LS(N8)        &kp LS(N9)        &kp LS(NON_US_BACKSLASH)    &none         &kp LEFT       &kp DOWN  &kp RIGHT  &none      &trans
                                                          &kp LEFT_ALT      &kp LC(N0)        &kp LS(MINUS)               &trans        &kp BACKSPACE
                                                                            &trans            &trans                      &none
            >;
        };

        Mouse {
            bindings = <
&none        &none         &none         &none         &none      &none         &none       &none      &none         &none      &none   &none
&none        &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &none      &bt BT_CLR    &trans      &kp LEFT   &kp UP_ARROW  &kp RIGHT  &trans  &kp DELETE
&none        &trans        &trans        &mkp MCLK     &trans     &none         &kp DELETE  &mkp LCLK  &mkp MCLK     &mkp RCLK  &trans  &none
&bootloader  &trans        &mkp RCLK     &kp LC(X)     &mkp LCLK  &kp LC(C)     &kp RC(C)   &mkp LCLK  &kp DOWN      &mkp RCLK  &trans  &bootloader
                                         &kp LC(Z)     &mkp LCLK  &mkp RCLK     &kp LC(C)   &kp LC(V)
                                                       &none      &trans        &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans
                                &trans  &trans    &trans
            >;
        };
    };
};
